/* Variables */

:root {
    --primary-color: #ffffff;
    --primary-text-color: #ffffff;
    --border-radius: 10px;
    --button-width: 80px;
    --h1-fontsize: 2rem;
    --font-family: 'Roboto', sans-serif;
  }

  #galleryComponent {
    height: 37vh;
    /* overflow-y: auto; */
    margin: 16px;
  }

  .galleryComponent-header-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 55px;
    z-index: 1; /* Add z-index to ensure it's above the content in #galleryComponent */
  }

  .galleryComponent-header-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .galleryComponent-header-input {
    border: none;
    border-radius: var(--border-radius);
    background-color: #f0f0f0;
    width: 55%;
    padding: 10px;
    margin: 0 16px 16px 0;
  }

  @media only screen and (min-width: 768px) {
    .galleryComponent-header-input {
      width: 60%;
      max-width: 400px;
    }
  }
  
  .galleryComponent-header-button {
    border: none;
    border-radius: var(--border-radius);
    width: 20vw;
    max-width: 80px;
    padding: 10px;
    border-radius: 10px;

  }

  .galleryComponent-loader {
    padding: 16px;
    animation: bounceToRight 0.5s infinite alternate; /* You can adjust the duration and other properties */
  }
  
  @keyframes bounceToRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(20px); /* Adjust the distance you want the bounce to the right */
    }
  }

  .galleryComponent-photoContainer {
    height: 33vh; /* Set an appropriate height */
    display: grid;
    overflow-y: auto;
    grid-gap: 16px;
    background: var(--primary-color);
  }

  @media only screen and (min-width: 467px) {
    .galleryComponent-photoContainer {
      grid-template-columns: repeat(2, 3fr);
    }
  }
  
  @media only screen and (min-width: 767px) {
    .galleryComponent-photoContainer {
      grid-template-columns: repeat(3, 3fr);
    }
  }

  @media only screen and (min-width: 1024px) {
    .galleryComponent-photoContainer {
      grid-template-columns: repeat(5, 3fr);
    }
  }

  @media only screen and (min-width: 1920px) {
    .galleryComponent-photoContainer {
      grid-template-columns: repeat(8, 3fr);
    }
  }
/*   
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .galleryComponent-photoContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .galleryComponent-photoContainer {
      grid-template-columns: repeat(6, 1fr);
    }
  } */
  
  .galleryComponent-photoContainer-img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    border-radius: var(--border-radius);
  }